:root {
--color-black: #000000;
--color-white: #FFFFFF;
--color-primary: #F29D35;
--color-secondary: #7F7F7F;
}

body{
    background-color: var(--color-black);
}

#navPage{
    background-color: var(--color-black);
}

#logo {
    color: var(--color-white);
}

h1 {
    color: var(--color-white);
    text-decoration: underline 3px var(--color-primary);
}

h2 {
    color: var(--color-white);
}

.h2--black {
    color: var(--color-black);
}

p {
    color: var(--color-white);
}

.p--black {
    color: var(--color-black);
}

.p--secondary {
    color: var(--color-secondary);
}

input::placeholder {
    color: var(--color-secondary);
}

.button {
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 1rem;
}

.button--primary {
    border: 3px solid;
    border-color: var(--color-primary);
}

.button:hover{
    color: var(--color-primary);
}

.button--primary:hover{
    color: var(--color-black);
    background:var(--color-primary);
}

.button--secondary {
    color: var(--color-black);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.button--secondary:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

.button--cancel {
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-primary);
}

.button--cancel:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

.bookForm-container{ /* PC container */
    background-color: var(--color-white);
    color:var(--color-black);
    border: 3px solid;
    border-color: var(--color-primary);
    border-radius: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
}