


:root {
    font-family: "Bahnschrift";

    /* font weighting */
    --font-weight-reg: 100;
    --font-weight-semiBold:600;
    --font-weight-bold:800;

    /* typography scale */
    font-size: 18px;
    --text-size: 1rem;
    --text-size-l: 1.5rem;
    --text-size-xl: 1.8rem;
}

#logo {
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-bold);
    }

h1 {
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    text-underline-offset: 10px;
    margin-top:1rem;
    margin-bottom:2rem;
    font-stretch: condensed;
}

h2 {
    font-size: var(--text-size-l);
    font-weight: var(--font-weight-semibold);
    font-stretch: condensed;
}

p {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
}

::placeholder {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
    margin-left:1rem;
}

input[type="text"], [type="tel"], [type="select"], [type="email"], [type="date"] {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
    text-align: left;
    border-style: 1px solid;
    border-radius:10px;
    display:flex;
    flex-direction:row;
    padding:0.5rem;
    font-family: "Bahnschrift";
    font-stretch: condensed;
  }

select {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
    margin-left:1rem;
    border-style: 1px solid;
    border-radius:10px;
    padding:10px;
    font-family: "Bahnschrift";
    font-stretch: condensed;
  }


.button {
    font-size: var(--text-size-l);
    font-weight: var(--font-weight-semibold);
    font-stretch: condensed;
    font-family: "Bahnschrift";
}

