


:root {
    font-family: "Bahnschrift";

    /* font weighting */
    --font-weight-reg: 100;
    --font-weight-semibold:400;
    --font-weight-bold:800;

    /* typography scale */
    font-size: 18px;
    --text-size: 1rem;
    --text-size-l: 1.4rem;
    --text-size-xl: 1.7rem;
}

body {
    font-family: "Bahnschrift";
}

#logo {
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-bold);
    text-underline-offset: 10px;
}

h1 {
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    text-underline-offset: 10px;
    font-stretch: condensed;
}

h2 {
    font-size: var(--text-size-l);
    font-weight: var(--font-weight-semibold);
    font-stretch: condensed;
}

p {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
    font-stretch: condensed;
}

::placeholder {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
    margin-left:1rem;
}

input, select, textarea {
    font-family: "Bahnschrift";
    font-stretch: condensed;
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
}

.button {
    font-size: var(--text-size-l);
    font-weight: var(--font-weight-semibold);
    font-stretch: condensed;
    font-family: "Bahnschrift";
}

