
@font-face {
    font-family: "Bahnschrift";
    src: url('../font/bahnschrift.ttf') format("truetype");
  }

/* Define website typography size/weight */
:root {
    /* font weighting */
    --font-weight-reg: 100;
    --font-weight-semibold:500;
    --font-weight-bold:600;

    /* typography scale */
    font-size: 17px;
    --text-size: 1rem;
    --text-size-l: 1.3rem;
    --text-size-xl: 1.6rem;
}

/* Basic typo */
body {
    font-family: "Bahnschrift";
    text-decoration: none;
}

#logo {
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    font-stretch: semi-condensed;
}

h2 {
    font-size: var(--text-size-l);
    font-weight: var(--font-weight-semibold);
    font-stretch: semi-condensed;
}

p {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
    font-stretch: semi-condensed;
    line-height: 1.4;
    text-decoration:none;
}

::placeholder {
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
    margin-left:1rem;
    font-stretch: semi-condensed;
}

input, select, textarea {
    font-family: "Bahnschrift";
    font-stretch: semi-condensed;
    font-size: var(--text-size);
    font-weight: var(--font-weight-reg);
}

.button {
    font-size: var(--text-size-l);
    font-weight: var(--font-weight-semibold);
    font-stretch: semi-condensed;
    font-family: "Bahnschrift";
}

#fullMenu {
    font-size: var(--text-size-l);
    font-weight: var(--font-weight-semibold);
    font-stretch: semi-condensed;
}

/*Remove browser default phone number hyperlink style (in ios)*/
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}